body{
    font-family: 'Courier New', Courier, monospace;
}
.nav{
    background-color: grey;
    display: flex;
    align-items: center;
}
h1{
    background-color: black;
    color:white;
    font-size: 15px;
}

ul{
    color: black;
    display: flex;
}

li{
    display: inline;
    color: black;
    background-color: black;
}

a{
    color: white;
}