*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1500px;
    height: 1000px;
    display: flex;
}

/*Navigation*/
.nav{
    width: 1500px;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
    color: white;
    text-decoration: none;
}
.nav-links{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 80px;
    font-size: 20px;
}
.nav-title{
    color: white;
    margin-left: 200px;
    margin-bottom: 20px;
    font-size: 35px;
    align-items: center;
}
.btn{
    height: 40px;
    width: 140px;
    background-color: #14a3b8;
    font-size: 25px;
    color: white;
    margin-left: 200px;
    margin-right: 130px;
}

/* About Me*/

.col-1{
    width: 650px;
    height: 500px;
    background-color: white;
    margin-left: 170px;
    margin-bottom: 20px;
    border: 5px solid grey;
}
.header{
    width: 653px;
    height: 140px;
    margin: -2px;
    background-color: #18a2b8;
}

.user-circle1{
    height: 120px;
    margin-top: 70px;
    margin-left: 50px;
}
.info-1{
    width: 400px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
.jane{
    font-size: 40px;
}
.i-1{
    font-size: 22px;
}
.link-gear{
    margin: 50px;
    font-size: 20px;
}

.map-marker, .gear{
    height: 20px;
}
/* Connection Requests*/
.col-2{
    height: 200px;
    width: 380px;
    background-color: white;
    margin-bottom: 50px;
    border: 5px solid grey;
    justify-content: center;
}
.circle-1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: grey;
    text-align: center;
    margin: 0px;
}

.circle-3{
    height: 35px;
    width: 35px;
    margin-right: 20px;
}

.numbercircle{
    background-color: red;
    border-radius: 10px;
    height: 20px;
    padding: 0 10px;
}
/* Education*/
.col-3{
    width: 650px;
    height: 250px;
    background-color: white;
    margin-left: 170px;
    border: 5px solid grey;

}
.header-1, .header-2, .header-3{
    height: 50px;
    font-size: 23px;
    padding: 5px;
    background-color: darkgrey;
    color: white;
}


.i-2{
font-size: 25px;
}
.i-3{
font-size: 20px;
color: grey;
}


/* Your Connections*/
.col-4{
    height: 350px;
    width: 380px;
    background-color: white;
    margin: 0px;
    border: 5px solid grey;
}
.circle-2{
    width: 10px;
    height: 10px;
}
.row {
    display: flex;
}
.big-col1{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: white;
}

.big-col2{
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: white;
}

.c-req1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c-body1, .c-body2{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
}

.user-circle2{
    height: 35px;
}

.viewmore{
    border-top: solid grey;
    padding: 25px;
    margin-top: 35px;
}