*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1500px;
    height: 1000px;
    display: flex;
}

/*Navigation*/
.nav{
    width: 1500px;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
    color: white;
    text-decoration: none;
}
.nav-links{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 80px;
    font-size: 20px;
}
.nav-title{
    color: white;
    margin-left: 200px;
    margin-bottom: 20px;
    font-size: 35px;
    align-items: center;
}
.btn{
    height: 40px;
    width: 140px;
    background-color: #14a3b8;
    font-size: 25px;
    color: white;
    margin-left: 200px;
    margin-right: 130px;
}

/* About Me*/

.col-1{
    width: 650px;
    height: 500px;
    background-color: white;
    margin-left: 170px;
    margin-bottom: 20px;
    border: 5px solid grey;
}
.header-1{
    width: 657px;
    height: 140px;
    margin: -3px;
    background-color: #18a2b8;
}

.user-circle1{
    height: 120px;
    margin-top: 70px;
    margin-left: 50px;
}
.info-1{
    width: 400px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
.jane{
    font-size: 40px;
}
.i{
    font-size: 22px;
}
.link-gear{
    margin: 50px;
    font-size: 20px;
}

.map-marker, .gear{
    height: 20px;
}
/* Connection Requests*/
.col-2{
    height: 200px;
    width: 350px;
    background-color: white;
    margin-bottom: 50px;
    border: 5px solid grey;
}
.user-circle2{
    height: 20px;
}
button{
    height: 40px;
    width: 40px;
}

.no, .yes{
    height: 30px;
    width: 30px;
}

/* Education*/
.col-3{
    width: 650px;
    height: 250px;
    background-color: white;
    margin-left: 170px;
    border: 5px solid grey;

}
.header-3{
    width: 650px;
    height: 40px;
    background-color: darkgray;
}


/* Your Connections*/
.col-4{
    height: 250px;
    width: 350px;
    background-color: white;
    margin: 0px;
    border: 5px solid grey;
}

.row {
    display: flex;
}
.big-col1{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: white;
}

.big-col2{
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: white;
}
