*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1500px;
    height: 1000px;
    display: flex;
}


/*Navigation*/
.nav{
    width: 1500px;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
    color: white;
    text-decoration: none;
}
.nav-links{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 80px;
    font-size: 20px;
}
.nav-title{
    color: white;
    margin-left: 200px;
    margin-bottom: 20px;
    font-size: 35px;
    align-items: center;
}
.btn{
    height: 40px;
    width: 140px;
    background-color: #14a3b8;
    font-size: 25px;
    color: white;
    margin-left: 300px;
}

/* About Me*/

.col-1{
    width: 650px;
    height: 500px;
    background-color: silver;
}
.header-1{
    width: 657px;
    height: 140px;
    margin: -3px;
    background-color: #18a2b8;
}

.user-circle1{
    height: 120px;
    margin-top: 70px;
    margin-left: 50px;
}
.info-1{
    width: 400px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

.map-marker, .gear{
    height: 20px;
}
/* Connection Requests*/
.col-2{
    height: 200px;
    width: 250px;
    background-color: silver;

}
.user-circle2{
    height: 20px;
}
button{
    height: 40px;
    width: 40px;
}

.no, .yes{
    height: 30px;
    width: 30px;
}

/* Education*/
.col-3{
    width: 650px;
    height: 250px;
    background-color: silver;

}
.header-{
    width: 650px;
    height: 40px;
    background-color: darkgray;
}


/* Your Connections*/
.col-4{
    height: 250px;
    width: 250px;
    background-color: silver;
}