container{
    width: 900px;
    margin: 0 auto;
    background-color: white;

}
.catblock-1{
    display: flex;
    justify-content: space-evenly;
    background-color: lightgreen;

}

.catblock-2{
    background-color: lightcoral;
}

.catblock{
    background-color: magenta;
}
img.octocat {
    height: 200px;
}