#btn-group{
    margin: 10%;

}
#search{
    background-color: white;
    border-radius: 20px 20px 20px;
    border-color: lightseagreen;
    color: lightseagreen;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    width: 150px;
    height: 30px;
    margin: 5px;
}
#plus{
    background-color: #0db;
    border-color: darkturquoise;
    border: 10px;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 10px;
    display: block;
}
#createaccount{
    background-color: #38e;
    border-color: black;
    color: white;
    box-shadow: 10px;
    width: 100px;
    height: 25px;
    font-size: 10px;
    margin: 10px;
    display: block;
}